.person_text {
  font-family: 'Noto Sans';
  display: block;
  color: black;
  font-size: x-large;
}

.information {
  padding: 2em 2em 2em 2em;
}

.item {
  width: auto;
  height:auto;
  display: inline-block;
  vertical-align:top;
  position: absolute;
}

.photo {
  object-fit: cover;
  margin: 0px 0px 0px 4px;
  height: 272px;
  width: 193px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  float: center;
  border: 1px solid black;
}

.content_description {
  font-family: 'Noto Sans';
  font-weight: bold;
  display: block;
  color: black;
  font-size: large;
  margin-left: 32px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.dividing_line {
  border-top: 1px solid black;
  border-top-width: auto;
  /*padding: 0em 0em 0em 0em;*/
}

.chapters {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.chapters li {
  margin: -1px;
  margin: -1px 2em -1px 2em;
  padding: .2em 0;
  height: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
 
.chapters a {
  color: black;
/*  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;*/
}


.chapters span:hover {
  color: grey;
}

.chapter_text_element {
  position: center;
  display: inline-block;
  font-size: big;
  padding: 0em 0em 0em 1em;
  position: absolute;
  text-align: right;
  font-family: 'Noto Sans';
}

.scores {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
}

.total_score {
  width: 180px;
  height: auto;
  float: left;
}

.total_score_text {
  font-family: 'Noto Sans';
  display: block;
  color: black;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.total_score_circle {
  font-family: Noto Sans;
  width:150px;
  height:150px;
  border-radius:75px;
  font-size:50px;
  color:#fff;
  line-height:150px;
  text-align:center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.other_scores {
  margin-top: 7px;
  width: 180px;
  height: auto;
  float: right;
}

.score {
  width: auto;
  height: 100px;
}

.score_text {
  font-family: 'Noto Sans';
  color: black;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.score_circle {
  font-family: Noto Sans;
  width:50px;
  height:50px;
  border-radius:25px;
  font-size:15px;
  color:#fff;
  line-height:50px;
  text-align:center;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.details {
  /*margin: -1px;
  margin: -1px 2em 20px 2em;
  padding: .2em 0;
  height: 20em;
  border-width: 1px;
  border-style: solid;
  border-color: black;*/

  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.details li {
  margin: -1px;
  margin: -1px 2em -1px 2em;
  padding: .2em 0;
  height: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.detail {
  display: inline-block;
  font-size: big;
  padding: 0em 0em 0em 1em;
  position: absolute;
  text-align: right;
  font-family: 'Noto Sans';
}