.dividing_line {
  border-top: 1px solid black;
  border-top-width: auto;
  /*padding: 0em 0em 0em 0em;*/
}

.content_description {
  font-family: 'Noto Sans';
  font-weight: bold;
  display: block;
  color: black;
  font-size: x-large;
  margin-left: 32px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.persons {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.main-header {
  font-family: 'Noto Sans';
  font-weight: bold;
  text-align: center;
}

.persons li {
  position: relative;
  background-color: white;
  margin: .5em;
  padding: .3em 0;
  height: 5em;
  border-width: 1px;
  border-style: solid;
  border-color: gray;
}
 
.persons a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.person_text_element {
  display: inline-block;
  font-size: big;
  padding: 0.8em 0.7em 0 0.7em;
  line-height: 1em;
  position: absolute;
  left: 80px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  font-family: 'Noto Sans';
}

.person_name {
  font-family: 'Noto Sans';
  display: block;
  text-align: center;
  color: black;
}

.grid-container {
  grid-gap: 10px;
  display: grid;
  padding: 2em 2em 2em 2em;
}

.grid-container > div {
  border: 1px solid black;
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-element {
  background-color: white;
  padding: 10px;
  /*color: #fff;*/
  border: 1px solid #fff;
}

.grid-text {
  font-family: 'Noto Sans';
}

.photo {
  object-fit: cover;
  margin: 0px 0px 0px 4px;
  height: 300px;
  width: 200px;
  display: block;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float: center;
  border: 1px solid #000000;
}

a:hover {
  text-decoration: none !important;
}

span:hover {
  color: grey;
}