.content_description {
  font-family: 'Noto Sans';
  font-weight: bold;
  display: block;
  color: black;
  font-size: x-large;
  margin-left: 32px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.dividing_line {
  border-top: 1px solid black;
  border-top-width: auto;
  /*padding: 0em 0em 0em 0em;*/
}

.chapters {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: auto;
}

.main-header {
  font-family: 'Noto Sans';
  font-weight: bold;
  text-align: center;
}

.chapters li {
  margin: -1px;
  margin: -1px 2em -1px 2em;
  padding: .2em 0;
  height: 2em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
}
 
.chapters a {
  color: #888;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.chapter_text_element {
  position: center;
  display: inline-block;
  font-size: big;
  padding: 0em 0em 0em 1em;
  position: absolute;
  text-align: right;
  font-family: 'Noto Sans';
}

#chapter_name {
  /*font-weight: bold;*/
}

.grid-container {
        grid-gap: 10px;
        display: grid;
        padding: 2em 2em 2em 2em;
    }

.grid-container > div {
  border: 1px solid black;
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-element {
  background-color: white;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
}

.grid-text {
  font-family: 'Noto Sans';
}

.cover {
  margin: 0px 0px 0px 4px;
  height: 300px;
  width: auto;
  display: block;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float: center;
  border: 1px solid #000000;
}

.series_text {
  font-weight: bold;
  display: block;
  text-align: center;
  color: black;
}

.chapter_text {
  display: block;
  text-align: center;
  color: black;
}

a:hover {
  text-decoration: none !important;
}

span:hover {
  color: grey;
}