.cover {
  margin: 0px 0px 0px 4px;
  height: 272px;
  width: auto;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 20px;
  float: center;
  border: 1px solid black;
}

.information {
  padding: 2em 2em 2em 2em;
}

.item {
  width: auto;
  height:auto;
  display: inline-block;
  vertical-align:top;
  position: absolute;
}

.series_text {
  font-family: 'Noto Sans';
  font-weight: bold;
  display: block;
  color: black;
  font-size: x-large;
}

.link div:hover {
  color: grey;
}

.item a:hover {
  text-decoration: none !important;
}

.chapter_text {
  font-family: 'Noto Sans';
  display: block;
  color: black;
  font-size: x-large;
}

.scores {
  width: 400px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  position: absolute;
}

.total_score {
  width: 180px;
  height: auto;
  float: left;
}

.total_score_text {
  font-family: 'Noto Sans';
  display: block;
  color: black;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.total_score_circle {
  font-family: Noto Sans;
  width:150px;
  height:150px;
  border-radius:75px;
  font-size:50px;
  color:#fff;
  line-height:150px;
  text-align:center;
  /*background: #00cc00;*/
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}

.other_scores {
  margin-top: 7px;
  width: 180px;
  height: auto;
  float: right;
}

.score {
  width: auto;
  height: 100px;
}

.score_text {
  font-family: 'Noto Sans';
  color: black;
  font-weight: bold;
  font-size: large;
  text-align: center;
}

.score_circle {
  font-family: Noto Sans;
  width:50px;
  height:50px;
  border-radius:25px;
  font-size:15px;
  color:#fff;
  line-height:50px;
  text-align:center;
  /*background: #00cc00;*/
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}