.dividing_line {
  border-top: 1px solid black;
  border-top-width: auto;
  /*padding: 0em 0em 0em 0em;*/
}

.content_description {
  font-family: 'Noto Sans';
  font-weight: bold;
  display: block;
  color: black;
  font-size: x-large;
  margin-left: 32px;
  margin-top: 10px;
  margin-bottom: -10px;
}

.grid-container {
  grid-gap: 10px;
  display: grid;
  padding: 2em 2em 2em 2em;
}

.grid-container > div {
  border: 1px solid black;
}

.grid-container--fit {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.grid-element {
  background-color: white;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
}

.grid-text {
  font-family: 'Noto Sans';
}

.cover {
  margin: 0px 0px 0px 4px;
  height: 300px;
  width: auto;
  display: block;
  flex-direction:column;
  justify-content:center;
  text-align:center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  float: center;
  border: 1px solid #000000;
}

.series_text {
  font-weight: bold;
  display: block;
  text-align: center;
  color: black;
}

.volume_text {
  display: block;
  text-align: center;
  color: black;
}

a:hover {
  text-decoration: none !important;
}

span:hover {
  color: grey;
}