<!DOCTYPE html>
<html>
<head>
	<title>Volumes</title>
	{% load static %}  
  <link rel="stylesheet" href="{% static 'css/volumes.css' %}"/>  
</head>
<body>

<div>
    {% include "navigation_bar.html" %}
</div>

<div class="content_description">Volumes</div>
<hr class="dividing_line">

<div class="grid-container grid-container--fit">
  {% for volume in volumes %}
    <div class="grid-element">
      <img class="cover" src={{volume.cover_link}}>
      <div class="grid-text">
        <a href="{% url 'series' volume.series.id %}"><span class="series_text">{{volume.series.title}}</span></a>
        <a href="{% url 'volume' volume.id %}"><span class="volume_text">Volume {{volume.number}}</span></a>
      </div>
    </div>
  {% endfor %}
</div>

</body>  
</html>