<!DOCTYPE html>
<html>
<head>
	<title>Person</title>
	{% load static %}
  	<link rel="stylesheet" href="{% static 'css/person.css' %}"/> 
  	<script type = "text/javascript" 
    	src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
</head>
<body>

<script>
    $(document).ready(function() {
        var critic_score_circle = document.getElementById("critic_score_circle");
        var user_score_circle = document.getElementById("user_score_circle");
        var total_score_circle = document.getElementById("total_score_circle");

        if ("{{user_score}}".localeCompare("NR") == 0) {
            user_score_circle.style.backgroundColor = "gray";
        }
        else if ({{user_score}} >= 75) {
            user_score_circle.style.backgroundColor = "green";
        }
        else if ({{user_score}} >= 50) {
            user_score_circle.style.backgroundColor = "yellow";
        }
        else {
            user_score_circle.style.backgroundColor = "red";
        }

        if ("{{critic_score}}".localeCompare("NR") == 0) {
            critic_score_circle.style.backgroundColor = "grey";
        }
        else if ({{critic_score}} >= 75) {
            critic_score_circle.style.backgroundColor = "green";
        }
        else if ({{critic_score}} >= 50) {
            critic_score_circle.style.backgroundColor = "yellow";
        }
        else {
            critic_score_circle.style.backgroundColor = "red";
        }

        if ("{{total_score}}".localeCompare("NR") == 0) {
            total_score_circle.style.backgroundColor = "gray";
        }
        else if ({{total_score}} >= 75) {
            total_score_circle.style.backgroundColor = "green";
        }
        else if ({{total_score}} >= 50) {
            total_score_circle.style.backgroundColor = "yellow";
        }
        else {
            total_score_circle.style.backgroundColor = "red";
        }
    });
</script>

{% include "navigation_bar.html" %}

<div class="information">
	<img class="photo" src={{person.photo_link}}>
	<div class="item">
		<div class="person_text">{{person.name}} {{person.surname}}</div>
            <div class="scores">
                <div class="total_score">
                    <div class="total_score_text">Total score</div>
                    <div id="total_score_circle" class="total_score_circle">{{total_score}}</div>
                </div>
                <div class="other_scores">
                    <div class="score">
                        <div class="score_text">Critic score</div>
                        <div id="critic_score_circle" class="score_circle">{{critic_score}}</div>
                    </div>
                    <div class="score">
                        <div class="score_text">User score</div>
                        <div id="user_score_circle" class="score_circle">{{user_score}}</div>
                    </div>
                </div>
            </div>
	</div>
</div>

<div class="content_description">Details</div>
<hr class="dividing_line">

<ul class="details">
    <li>
        <span class="detail">Birth date: {{person.birth_date}}</span>
    </li>
    <li>
        <span class="detail">Number of chapters drawn: {{person.get_chapters_drawn_number}}</span>
    </li>
    <li>
        <span class="detail">Number of chapters written: {{person.get_chapters_written_number}}</span>
    </li>
</ul>

<div class="content_description">Chapters drawn</div>
<hr class="dividing_line">

<ul class="chapters">
{% for chapter in chapters_drawn %}
    <li>
        <a href="{% url 'chapter' chapter.id %}"><span class="chapter_text_element" id="chapter_name">{{ chapter }}</span></a>
        <br>
    </li>
{% endfor %}
</ul>

<div class="content_description">Chapters written</div>
<hr class="dividing_line">

<ul class="chapters">
{% for chapter in chapters_written %}
    <li>
        <a href="{% url 'chapter' chapter.id %}"><span class="chapter_text_element" id="chapter_name">{{ chapter }}</span></a>
        <br>
    </li>
{% endfor %}
</ul>

</body>
</html>