<!doctype html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Persons</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/persons.css' %}"/>  
</head>  
<body>

<div>
    {% include "navigation_bar.html" %}
</div>

<div class="content_description">Persons</div>
<hr class="dividing_line">

<div class="grid-container grid-container--fit">
  {% for person in persons %}
    <div class="grid-element">
      <img class="photo" src={{person.photo_link}}>
      <div class="grid-text">
      	<a href="{% url 'person' person.id %}"><span class="person_name">{{person.name}} {{person.surname}}</span></a>
      </div>
    </div>
  {% endfor %}
</div>

</body>  
</html>  