<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Series</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/all_series.css' %}"/>  
</head>  
<body>

<div>
    {% include "navigation_bar.html" %}
</div>

<div class="content_description">Series</div>
<hr class="dividing_line">

<div class="grid-container grid-container--fit">
  {% for series in all_series %}
    <div class="grid-element">
      <img class="cover" src={{series.get_cover_link}}>
      <a href="{% url 'series' series.id %}"><span class="series_text">{{series.title}}</span></a>
    </div>
  {% endfor %}
</div>

</body>
</html>