<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Chapters</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/chapters.css' %}"/>  
</head>  
<body>

<div>
    {% include "navigation_bar.html" %}
</div>

<div class="content_description">Chapters</div>
<hr class="dividing_line">

<div class="grid-container grid-container--fit">
  {% for chapter in chapters %}
    <div class="grid-element">
      <img class="cover" src={{chapter.get_cover_link}}>
      <div class="grid-text">
        <a href="{% url 'series' chapter.series.id %}"><span class="series_text">{{chapter.series.title}}</span></a>
        <a href="{% url 'chapter' chapter.id %}"><span class="chapter_text">Chapter {{chapter.number}}</span></a>
      </div>
    </div>
  {% endfor %}
</div>

</body>
</html>